<nav class="navbar navbar-light bg-primary">
    <div class="row"><br><br></div>
    <div class="container-fluid">
        <h1 style="color: aliceblue; margin-left: 10px;" class="navbar-brand">User Home</h1>
        <div class="d-flex">
            <button routerLink="/search" class="btn btn-primary mx-3">Search Flight</button>
            <!-- <button routerLink="/book" class="btn btn-primary mx-3">Book Flight</button> -->
            <button routerLink="/download" class="btn btn-primary mx-3">Manage Bookings</button>
            <button routerLink="/History" class="btn btn-primary mx-3">Booking History</button>
            <button (click)="Logout()" class="btn btn-danger mx-3">Log Out</button>
        </div>
    </div>
</nav>
